.song-display {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: width 0.3s;
  width: 100%;
  overflow-y: scroll;
  text-wrap: wrap;
  height: 90vh;
  font-size: 14px;
  font-size-adjust: 0.5;
}

.song-display h1 {
  font-size: 30px;
}

.song-display-lyrics {
  height: 90%;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  overflow-y: scroll;
}

.back-button {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 40px;
  font-weight: bold;
}

.back-button:hover {
  cursor: pointer;
}
