.song-display {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  transition: width 0.3s;
  width: 100%;
  overflow-y: scroll;
  text-wrap: wrap;
  height: 90vh;
}

.back-button {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 40px;
  font-weight: bold;
}

.back-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .song-display {
    flex-direction: column;
  }
  .song-display-cover {
    width: 100%;
  }
}
