.song-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  transition: width 0.3s;
  width: 100%;
  overflow-y: scroll;
  text-wrap: wrap;
  height: 90vh;
}

.song-display-cover {
  width: 30%;
}

@media only screen and (max-width: 500px) {
  .song-display {
    flex-direction: column;
  }
  .song-display-cover {
    width: 100%;
  }
}
