.top-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background-color: #1a1a1a;
  height: 10vh;
  min-height: 60px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 100;
}

.search-bar {
  display: flex;
  width: 40%;
  height: 40px;
  margin: 10px;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 100;
  border-radius: 10px;
}

.add-songform-button {
  display: flex;
  width: 13%;
  height: 60%;
  margin: 1.5rem 0 1.5rem 1.5rem;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 1.2rem;

  justify-content: center;
  align-self: center;
  box-sizing: border-box;
  border-radius: 10px;
}
.order-button {
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
  z-index: 100;
}

.order-button__control,
.order-button__option {
  color: black;
}

@media only screen and (max-width: 500px) {
  .top-bar {
    flex-direction: column;
    height: 13vh;
  }

  .search-bar {
    width: 90%;
  }
}
