.review-box {
  position: relative;
  width: 200px;
  height: 150px;
  border: 2px solid white;
  margin: 15px;
  padding: 5px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal !important;
}
.review-header {
  line-height: 5px;
}

.delete-button {
  position: absolute;
  top: 5px;
  left: 5px;
  color: red;
  padding: 5px;
  background-color: transparent;
}
