.top-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background-color: #1a1a1a;
  height: 10vh;
  min-height: 60px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 100;
}

.search-bar {
  display: flex;
  width: 40%;
  height: 60%;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 100;
  border-radius: 5px;
}

.search-bar:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.order-button {
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
  z-index: 100;
}

.order-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.order-button__control,
.order-button__option {
  color: black;
}

@media only screen and (max-width: 500px) {
  .search-bar {
    width: 50%;
  }
}
